---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'

import {Content as NewsContent} from '@/content/news/news.md';

---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Jingcheng (Frank) Niu</h1>

      <section class="profile flex flex-col md:flex-row md:items-start gap-6">
        <img src="/profile-photo.jpg" alt="Jingcheng Niu" class="profile__photo" />
        <div class="profile__intro">
          <p>
            Hi! I am a Postdoctoral researcher at the
            <a class="underline decoration-dashed underline-offset-4 hover:text-skin-accent" href="https://www.informatik.tu-darmstadt.de/ukp/ukp_home/index.en.jsp">UKP Lab</a>
            @<a class="underline decoration-dashed underline-offset-4 hover:text-skin-accent" href="https://www.informatik.tu-darmstadt.de/fb20/index.en.jsp">TU Darmstadt</a>, led by Professor
            <a class="underline decoration-dashed underline-offset-4 hover:text-skin-accent" href="https://www.informatik.tu-darmstadt.de/ukp/ukp_home/head_ukp/index.en.jsp">Iryna Gurevych</a>.
          </p>
          <p>
            Previously, I did my PhD at the
            <a class="underline decoration-dashed underline-offset-4 hover:text-skin-accent" href="https://www.cs.toronto.edu/compling/">Computational Linguistics Group @UofT</a>.
            My advisor is Professor
            <a class="underline decoration-dashed underline-offset-4 hover:text-skin-accent" href="http://www.cs.toronto.edu/~gpenn/">Gerald Penn</a>.
            牛靖程 is my name in Chinese.
          </p>
          <p>
            I am interested in <b class="text-skin-accent">LLM Interpretability</b>. You can find my research on the <a href="publications">List of Publications</a>.
          </p>
        </div>
      </section>

          
      <p class="flex flex-wrap justify-center gap-x-4 gap-y-2">
        <a href="/cv.pdf">Curriculum Vitae</a>
        {
          siteConfig.socialLinks.map((link) => (
            <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
              <i class:list={[link.icon]} />
              {link.text}
            </a>
          ))
        }
      </p>

      <p class="contact">
        Feel free to email me about my research! I'm also happy to discuss research-related topics, grad school application, or careers in AI/NLP. Email: <b class="text-skin-accent">firstname dot lastname at tu-darmstadt.de</b>.
      </p>


    <div>
    {
      (
        <>
          <section id="news">
            <h2>News</h2>
            <article class="prose mx-auto max-w-3xl">
              <NewsContent />
            </article>
          </section>
        </>
      )
    }
    </div>

  </article>
</BaseLayout>
