---
const { id } = Astro.props
const bibModules = import.meta.glob('../content/bibs/*.md', { eager: true })

const targetFile = id.replace(/\.(md|mdx)$/i, '') + '.md'
const bib = Object.entries(bibModules).find(([path]) => path.split('/').pop() === targetFile)

const BibEntry = bib[1].Content
---

<div id={id.replace(/\.(md|mdx)$/i, '')} style={{ clear: 'both', display: 'none' }}>
  <article class="prose min-h-0 sm:min-h-0 my-4">
    <!-- tiny top/bottom gap -->
    <BibEntry />
  </article>
</div>
